*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* I couldn't get the mouse icon to change reliably but left it here in case we have time to go back and figure it out */

/* body {
  cursor: url("/cursor.png"), pointer !important;
  cursor: url("/pointer.png"), auto !important;
} */
