.footer {
  display: flex;
  width: 85vw;
  height: auto;
  vertical-align: center;
  justify-content: flex-end;
}

.footer__image-aspect {
  display: block;
  background-color: rgba(165, 40, 130, 0.9);
  width: 40px;
  height: 40px;
}

.footer__image-aspect:hover {
  cursor: pointer;
  background-color: rgba(165, 40, 130, 0.4);
}
