.gamepage {
  /* background-image: url('../assets/icons/desktop-wallpaper-cyborg-cyberpunk-in-pink-plain-background-1920-x-1080-in-2020-robot-simple-background-cyberpunk-wire.jpg');  */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f21575;
  font-family: 'Press Start 2P', cursive;
}

.gamepage__start-btn {
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.ninja-game-embed {
  margin: 0 auto;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  border: 5px solid #c0c0c0;
}

.runner-game-embed {
  border: 5px solid white;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  margin: 0 auto;
}

.tetris-game-embed {
  margin: 0 auto;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  border: 5px solid #16e8ec;
}

.steam-punk-embed {
  margin: 0 auto;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  border: 5px solid #cfaa01;
}
