.game-info {
  /* background-image: url('../assets/icons/desktop-wallpaper-cyborg-cyberpunk-in-pink-plain-background-1920-x-1080-in-2020-robot-simple-background-cyberpunk-wire.jpg');  */
  font-size: 12px;
  padding: 5px;
}
.gamepage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f21575;
  font-family: 'Press Start 2P', cursive;
}

.gamepage__start-btn {
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.ninja-game-embed {
  margin: 0 auto;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  border: 5px solid #c0c0c0;
}

.runner-game-embed {
  border: 5px solid white;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  margin: 0 auto;
}

.tetris-game-embed {
  margin: 0 auto;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  border: 5px solid #16e8ec;
}

.steam-punk-embed {
  margin: 0 auto;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  border: 5px solid #cfaa01;
}

.return__homepage-btn {
  display: flex;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: 'Press Start 2P', cursive;
  /* padding: 10px 15px; */
  text-shadow: -2px -2px 0 var(--tyrian-purple), 2px -2px 0 var(--tyrian-purple),
    -2px 2px 0 var(--tyrian-purple), 2px 2px 0 var(--tyrian-purple);
  background-color: rgba(255, 255, 255, 0.25);
}

.gamepage-controls {
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 80%;
}

.reload-game__homepage {
  padding: 10px 15px;
}


.built-with {
  font-size: 12px;
  padding: 5px;
}

h2 {
  padding: 8px;
  font-size: 20px;
}

.are-you-ready {
  padding: 10px;
  font-size: 15px;
  height: 8vh;
  line-height: 1.5;
}

.gamepage-container {
  display: flex;
}

.gamepage {
  flex: 1;
}

.leaderboard {
  flex: 1;
  align-items: flex-start;
  margin-top: -15px;
}
