.game-info {
  font-size: 12px;
  padding: 5px;
}

.gamepage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  color: white;
}

.gamepage__scores-details {
  display: flex;
}

.samurai-gif {
  height: 400px;
}

.gamepage__game-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  width: 40%;
}

.gamepage__game-scores {
  width: 60%;
}

.gamepage__start-btn {
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  animation: pulse 2s infinite;
}

.gamepage__start-text {
  margin: 25px auto;
  font-size: 20px;
  font-style: italic;
  max-width: 65%;
}

.ninja-game-embed {
  margin: 0 auto;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  border: 5px solid #c0c0c0;
}

.runner-game-embed {
  border: 5px solid white;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  margin: 0 auto;
}

.tetris-game-embed {
  margin: 0 auto;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  border: 5px solid #16e8ec;
}

.steam-punk-embed {
  margin: 0 auto;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  border: 5px solid #cfaa01;
}

.gamepage__built-with-text {
  margin-bottom: 5px;
}

.return__homepage-btn {
  display: flex;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: 'Press Start 2P', cursive;
  text-shadow: -2px -2px 0 var(--tyrian-purple), 2px -2px 0 var(--tyrian-purple),
    -2px 2px 0 var(--tyrian-purple), 2px 2px 0 var(--tyrian-purple);
  background-color: rgba(255, 255, 255, 0.25);
}

.gamepage-controls {
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 80%;
}

.reload-game__homepage {
  padding: 10px 15px;
}

.built-with {
  font-size: 12px;
  padding: 5px;
}

.gamepage__game-detail-title {
  padding: 10px 0px;
  font-size: 20px;
  font-style: italic;
  animation: jiggle 4s infinite linear;
}

.gamepage__game-detail-description {
  margin-top: 10px;
  margin-bottom: 25px;
}
