.homepage * {
  border: 1px #be0072 solid;
}

.homepage {
  width: 100vw;
  height: 100vh;
}
.homepage__swiper {
  max-width: 80%;
  height: 80vh;
  margin: 0 auto;
}

.homepage__swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
}

.homepage__thumbs {
  height: 10vh;
}

.homepage__thumbs .swiper-slide-thumb-active {
  opacity: 1 !important;
}

.homepage__title-center {
  text-align: center;
}

.top-ten-scores-image {
  max-width: 50px;
}

.scoreboard-points {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 0px;
}

.homepage__swiper-thumb--pointer {
  cursor: pointer;
}

.homepage__swiper-thumb--tetris {
  background: rgb(249, 214, 225);
  background: linear-gradient(
    177deg,
    rgba(249, 214, 225, 0.9) 24%,
    rgba(208, 129, 184, 1) 90%
  );
  border: 3px solid #16e8ec;
}

.homepage__swiper-thumb--tetris:hover {
  transition: all 1s ease-in-out;
  background: rgb(249, 214, 225);
  background: linear-gradient(
    177deg,
    rgba(208, 129, 184, 1) 24%,
    rgba(249, 214, 225, 0.9) 90%
  );
}

.homepage__swiper-thumb--run {
  border: 3px solid #fd1c03;
  /* background: rgb(238, 194, 156);
  background: linear-gradient(
    180deg,
    rgba(238, 194, 156, 1) 24%,
    rgba(246, 147, 45, 1) 90%
  ); */
}

.homepage__swiper-thumb--samurai {
  border: 3px solid #000370;
}

.homepage__swiper-thumb--steampunk {
  background: rgb(251, 233, 139);
  background: linear-gradient(
    177deg,
    rgba(251, 233, 139, 1) 24%,
    rgba(220, 210, 68, 1) 90%
  );
  border: 3px solid #cfaa01;
}

.homepage__swiper-thumb-img {
  height: 100%;
}

.homepage__swiper-thumb-img:hover {
  animation: shake 0.4s ease-in-out infinite;
}

.homepage__swiper-slide--tetris {
  border: 3px solid #16e8ec;
}

.homepage__swiper-slide--steampunk {
  border: 3px solid #cfaa01;
}

.homepage__swiper-slide--runner {
  border: 3px solid #fd1c03;
}

.homepage__swiper-slide--samurai {
  border: 3px solid #000370;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px) rotate(-3deg);
  }
  75% {
    transform: translateX(3px) rotate(3deg);
  }
  100% {
    transform: translateX(0);
  }
}
