.homepage * {
  border: 1px #be0072 solid;
}

.homepage {
  width: 100vw;
  height: 90vh;
}
.homepage__swiper {
  max-width: 80%;
  height: 80vh;
  margin: 0 auto;
}

.homepage__swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
}

.homepage__thumbs {
  height: 10vh;
}

.homepage__thumbs .swiper-slide-thumb-active {
  opacity: 1 !important;
}

.homepage__title-center {
  text-align: center;
}

.top-ten-scores-image {
  max-width: 50px;
}

.scoreboard-points {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 0px;
}
