html {
  background-color: #f21575;
  width: 100vw;
  height: 100vh;
  background-image: url('/splash-screen.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
