html {
  background-color: rgb(242, 21, 117, 0.4);
  width: 100vw;
  height: 100vh;
  background-image: url('/splash-screen-CROP.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
