.splashscreen {
  width: 100vw;
  height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

* {
  border: 1px solid red;
}

.splashscreen__credits-tarndeep {
  color: white;
  text-decoration: none;
}
