:root {
  --fandango: #a52882ff;
  --penn-blue: #0d1945ff;
  --tyrian-purple: #711740ff;
  --ultra-pink: #ff69fdff;
  --polynesian-blue: #0c4693ff;
}

.splashscreen {
  width: 100vw;
  height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

* {
  border: 1px solid red;
}

.splashscreen__credits {
  font-family: 'Press Start 2P', cursive;
  text-shadow: -1px -1px 0 var(--ultra-pink), 1px -1px 0 var(--ultra-pink),
    -1px 1px 0 var(--ultra-pink), 1px 1px 0 var(--ultra-pink);
  width: 310px;
}

.splashscreen__credits--clean-text {
  color: white;
  text-decoration: none;
}

.splashscreen__credits--clean-text:hover {
  color: var(--tyrian-purple);
}

.splashscreen__credits-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.splashscreen__credits-created {
  margin-bottom: 10px;
}

.splashscreen__credits-icons-img:hover {
  color: var(--ultra-pink);
}

.splashscreen__insert-coin {
  cursor: pointer;
  width: 300px;
  height: 200px;
  animation: pulse 2s infinite;
}

.splashscreen__game-icon {
  width: 400px;
  height: 400px;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media only screen and (min-aspect-ratio: 1/3) {
  .splashscreen {
    background-image: url('/splash-screen.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (min-aspect-ratio: 9/5) {
  .splashscreen {
    background-image: url('/splash-screen-CROP.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
